.Formcontainer{
    display: flex;
    margin-top: 100px;
    padding: 10px 40px;
    gap: 50px;
    background-color: #fbfbfb;
}
.Right{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
}
.Right > input{
    padding: 10px;
}
.Right > button{
    padding: 10px;
    margin: 0;
    background-color:  rgb(173, 85, 255);
    border: 1px solid rgb(159, 67, 245);
    color: white;
    border-radius: 10px;
    border: none
}
.Right > button:hover{
    background-color: rgb(126, 57, 190) ;
    transition: all ease-in-out 0.1s;
}
.input{
    border-radius: 10px;
    border: hidden;
    outline: none;
}
#message{
    resize: none;
}